/* *:first-child+html #topMenu { padding:3px 0 0 0; } */
*:first-child+html .headerMenu { padding:3px 0 0 0; }
.headerMenu{/* background-image:url(../images/bg/topMenu.png); background-repeat:no-repeat; width:1000px; height:59px; margin:10px 0 0 0;  */}
.sectionDetail, #sectionDetail, .oneLevel{display:none !important; }

/*.headerMenu ul{ list-style:none; width:700px; float:left; padding:0 0 0 5px }
.headerMenu ul li {list-style:none; float:left; margin:11px 0 0 0; }
.headerMenu ul li a{font-size:13px; color:#fff;  padding:12px 8px; display:block; height:25px; } 
.headerMenu ul li a:hover ,.headerMenu ul li a.hover{ background-color:#fff; color:#03753c;}
.headerMenu ul li a.selected{ background-color:#fff; color:#03753c;}
		*/
		
.headerMenu{ float:right; margin:26px 0 0;  }
.headerMenu ul{ list-style:none; }
.headerMenu ul li{ display:block; float:left; margin: 0 0;} 
.headerMenu ul li a{ color:#092f87; font-size:18px; font-family: 'Source Sans Pro', sans-serif; font-weight:600; font-style:italic; padding:10px 7.5px; }
.headerMenu li.level0 a:hover, .headerMenu li.level0 a.hover{ background:#092f87; color:#fff; }

.headerMenu li.level0, .headerMenu li.level1, .headerMenu li.level2 { display:block; }	
.headerMenu li.level0 a{  }	

.headerMenu li.subMenu { display:none; }
.headerMenu li.subMenu.level0 { float:none !important; background-color:#fefefe; width:254px; position:absolute; top:98px; padding:5px 0 ; z-index:999999999; }
.headerMenu ul li.level1{ margin:0;}
.headerMenu li.level0 li.level1 { display:block; padding:0 0 0 0  }
.headerMenu li.level0 li.level1 a { color:#052368; font-size:14px; padding:5px 0 5px 10px; height:auto !important; display:block; vertical-align:middle; width:194px; margin:0 0 0 0; font-family: 'Source Sans Pro', sans-serif; font-weight:400; font-style:normal; padding:6px 30px;}

.headerMenu li.level0 li.level1 a:hover { background:url(../images/icon/menuNav.png) no-repeat 10px center #092f87; color:#fff; height:auto !important; display:block;  }

/*	 .headerMenu li.level0 li.level1 a.hover, .headerMenu li.level0 li.level1 a:hover { background-color:#e3eee7;   }  */
.headerMenu li.level0 li.level1.subMenu { border-left:1px dotted #C0C0C0; display:none; left:430px; padding:10px 20px;	position:absolute; top:24px; border-bottom:none; display:none !important; }
.headerMenu li.subMenu.level0 li.subMenu.level1 ul { width:420px; }
.headerMenu li.subMenu ul{ width:265px; }	
.headerMenu li.level0 li.level1 li.level2 { display:block; border-bottom:1px dotted #C0C0C0; }
.headerMenu li.level0 li.level1 li.level2 a { padding:2px 15px 2px 5px; color:#29724c; font-family:Arial; font-size:12px; padding:3px 0 3px 15px; display:block; vertical-align:middle; width:425px; border-bottom:2px solid #eaf2ec; background-image:url(../images/topmenuAnc.png); background-repeat:no-repeat; background-position:left center; 		}
.headerMenu li.level0 li.level1 li.level2 a.hover, .headerMenu li.level0 li.level1 li.level2 a:hover { background-color:#e3eee7; }
.headerMenu li.level0 li.level1 li.level2.subMenu { display:none; }
.headerMenu li.item2{ margin-left: 96px; }
.headerMenu li.item3{ margin-left: 255px }
.headerMenu li.item4{ margin-left: 354px }
.headerMenu li.item5{ margin-left: 428px }
/*.headerMenu li.item6{ margin-left: 529px }*/


.headerMenu li.item3 ul li a{ background:url(../images/onurExtra/menu-icon.png) no-repeat 14px center !important; }
.headerMenu li.item3 li.level1 a{ padding:6px 40px !important; }
.headerMenu li.item3 li.level1 a:hover { color:#092f87 !important; height:auto !important; display:block;  }